#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: var(--yellow);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
  flex-direction: column;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}

.no-mobile__img {
  border-radius: 20px;
  margin: 20px;
}
